.Library{
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 50px rgb(194, 194, 194);
    overflow: scroll;
    h2{
        padding: 2rem;
    }
}

.Library-Song{
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    &:hover{
        background-color: rgb(222, 222, 222);
        box-shadow: 5px 5px 10px rgb(194, 194, 194);
    }
    img{
        width: 30%;
    }
}

.Song-Description{
    padding-left: 1rem;
    h3{
        font-size: 1.3rem;
    }
    h4{
        font-size: 0.9rem;
        padding-top: 0.2rem;
    }
}

*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background: rgba(155,155,155,0.5);
    border-radius: 20px;
    border: transparent;
}
