.player {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control {
    width: 50%;
    display: flex;

    input {
        width: 100%;
        padding: 1rem 2rem;
    }

    p {
        padding: 1rem;
    }
}

.play-control {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    svg {
        cursor: pointer;
    }
}